---
title:  'Aufgaben'
author: ''
date: {{ today }}
keywords: []
aspectratio: 169
pagestyle: 'plain'
geometry: "left=3cm,right=3cm,top=2cm,bottom=2cm"
header-includes: |
    \usepackage{tikz}
    \usepackage{diagbox}
    \let\oldsection\section
    \renewcommand\section{\clearpage\oldsection}
    \usepackage{caption}
    \usepackage{multicol}
	\captionsetup[figure]{
        name=,
        labelsep=none,
        labelformat=empty}
section-titles: false
toc: false
lang: de
---

## Multiplikation

\begin{multicols}{2}
{% for ex in multi %}
$${{ ex[0] }} \cdot {{ ex[1] }} =$$
{% endfor %}
\end{multicols}

## Division

\begin{multicols}{2}
{% for ex in division %}
$${{ ex[0] }} \colon {{ ex[1] }} =$$
{% endfor %}
\end{multicols}

## Dreisatz
{% for ex in crossmultiply %}
### Aufgabe {{ loop.index }}
{{ ex }}
{% endfor %}

## Flächenberechnung

{% for excersise in area %}
### Aufgabe {{ loop.index }}
Berechne die Fläche
{{ raw }}
```{=latex}
\begin{tikzpicture}[scale=.35]\footnotesize
\pgfmathsetmacro{\xone}{-.4}
\pgfmathsetmacro{\xtwo}{ 40.4}
\pgfmathsetmacro{\yone}{-.4}
\pgfmathsetmacro{\ytwo}{10.4}
{{ endraw }}
\begin{scope}

    % grid
    \draw[step=1cm,gray,very thin] (\xone,\yone) grid (\xtwo,\ytwo);
    % axes
    %\draw[gray,thick,-] (\xone, 0) -- (\xtwo, 0) node[right] {};
    %\draw[gray,thick,-] (0, \yone) -- (0, \ytwo) node[above] {};
    % rectangle
    \draw[black,very thick] (0, {{ excersise["ysize"] }}) rectangle ({{ excersise["xsize"] }}, 0);
    \draw[black,xshift=0.5*{{ excersise["xsize"] }} cm] (0,0) -- (0,0) 
        node[below] {{ "{" }} {{ excersise["xval"] }} {{ "}" }};

    \draw[black,yshift=0.5*{{ excersise["ysize"] }} cm] (0,0) -- (0,0) 
        node[left] {{ "{" }} {{ excersise["yval"] }} {{ "}" }};

\end{scope}
\end{tikzpicture}
```
{% endfor %}
